* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.body {
  font-family: "Bebas Neue";
  background-image: linear-gradient(45deg, #161917, #b9030f, #70160e, #161917);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  color: #e8eb32;
}

.titulo {
  font-size: 100px;
}

.button {
  background-color: #801a13;
  border: none;
  color: white;
  padding: 15px 3%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 100px;
  margin: 32px 2px;
  cursor: pointer;
  transition-duration: 0.4s;
  border-radius: 10px;
}

.button1 {
  color: white;
  border: 2px solid #801a13;
}

.button1:hover {
  background-color: rgb(206, 82, 66);
  color: white;
}

@media (max-width: 768px), (min-width: 300px) {
  .body {
    background-size: 100% 100%;
    font-family: "Bebas Neue", sans-serif;
  }

  .titulo {
    font-size: 48px;
  }

  .button {
    font-size: 24px;
    padding: 10px 20%;
  }

  .button1 {
    font-size: 24px;
  }
}

@media (max-width: 480px) {
  .titulo {
    font-size: 20px;
  }

  .button {
    font-size: 30px;
    padding: 10px 10%;
  }

  .button1 {
    font-size: 20px;
  }
}

@font-face {
  font-family: Bebas Neue;
  src: url("../public/assets/Bebas_Neue/BebasNeue-Regular.ttf");
}
